{% extends "layout.html" %}

{% block head %}
<title>Iniciar sesión</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/pages.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}

{% block brand %}Iniciar sesión{% endblock %}

{% block content %}
<main>
    <div class="formulario">
        <p class="form-title">Iniciar <br> sesión</p>
        <form action="{{ url_for('inicio_sesion') }}" method="POST" style="max-width: 400px" id="form">
            <div class="mb-3">
                <input type="text" name="username" id="username" placeholder="Usuario" required>
            </div>
            <div class="mb-3">
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="entrar-button">Iniciar sesión</button>
            </div>
            <p class="form-footer text-center">¿No tienes cuenta? <a href="{{ url_for('crear_cuenta') }}">Regístrate</a></p>
        </form>
    </div>
</main>
{% endblock %}
